    <section id="archives">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Editions précédentes</h2>
                    <hr  class="header-content-inner">
                    Depuis 2000, les RMLL (<i>Rencontres Mondiales du Logiciel Libre</i> a.k.a. <i>Libre Software Meeting</i>) sont une conférence annuelle libre d'accès et gratuite, accueillie dans une ville différente chaque année. Cette conférence comprend plusieurs thèmes (éducation, économie, technique ...) autour des Logiciels Libres avec pour objectif de bâtir des ponts entre les communautés.<br><br>  
En 2016, il n'y aura pas d'édition globale des RMLL car aucune association locale ne s'est portée candidate. <br>Mais, nous, responsables du thème Sécurité, avons décidé d'organiser néanmoins le thème car ... nous adorons vous amener de brillants conférenciers parlant de Sécurité et de Logiciels Libres. <br> <br>  
Jetez un coup d'&oelig;il sur le contenu des éditions précédentes et les conférenciers qui sont venus parler dans le thème Sécurité.<br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2015</h4>
                                    <h4 class="subheading">Beauvais, France</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Conférenciers :</b><br>
                                        <a href="https://twitter.com/tomchop">Thomas Chopitea (DFIR)</a>,
                                        <a href="https://twitter.com/fredraynal">Fred Raynal (Quarkslab)</a>,
                                        <a href="http://aumasson.jp/">Jean-Philippe Aumasson (aka Veorq)</a>,
                                        <a href="https://blog.rootshell.be/">Xavier Mertens (aka xme)</a>,
                                        <a href="https://fmarier.org/">François Marier (Mozilla Firefox)</a>,...<br>
                                        <b><a href="https://2015.rmll.info/securite">Entretiens + présentations</a></b>
                                        <br><b><a href="http://video.rmll.info/channels/#securite__">Vidéos</a></b> </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2014</h4>
                                    <h4 class="subheading">Montpellier, France</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Conférenciers :</b><br>
                                        <a href="https://twitter.com/angealbertini">Ange Albertini (reverser)</a>,
                                        <a href="http://workshop.netfilter.org/2014/">Netfilter dev team and leaders</a>,
                                        <a href="https://blog.torproject.org/blogs/lunar">Lunar (Tor)</a>,
                                        <a href="http://www.bortzmeyer.org/">Stéphane Bortzmeyer (DNS)</a>, <a href="https://home.regit.org/">Eric Leblond (Suricata)</a>,...<br>
                                        <b>Entretiens :</b><br>
                                        <a href="https://2014.rmll.info/+Interview-d-Ange-Albertini-Joue+?lang=fr">Ange Albertini</a>, 
                                        <a href="https://2014.rmll.info/+Interview-de-Lunar-Defis-passes-et+?lang=en">Lunar</a>,
                                        <a href="https://2014.rmll.info/+Interview-de-Ninon-Eyrolles+">Ninon Eyrolles</a><br>
                                        <b><a href="https://2014.rmll.info/theme26?lang=en">Présentations</a>
                                        <br><a href="http://video.rmll.info/channels/#securite_">Vidéos</a></b></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2013</h4>
                                    <h4 class="subheading">Bruxelles, Belgique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Conférenciers :</b><br>
                                        <a href="https://en.wikipedia.org/wiki/Werner_Koch">Werner Koch (GnuPG)</a>,
                                        <a href="https://twitter.com/jooooooon42">Jonathan Clarke (Rudder)</a>,
                                        <a href="https://twitter.com/pczanik">Peter Czanik (Syslog-NG)</a>,
                                        <a href="http://www.foo.be/">Alexandre Dulaunoy (CIRCL)</a>,...<br><b>
                                        <a href="https://schedule2013.rmll.info/programme/technique/securite/">Entretiens + présentations</a></b><br>
                                        <b><a href="http://video.rmll.info/channels/#2013-technique-securite">Vidéos</a></b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2012</h4>
                                    <h4 class="subheading">Genève, Suisse</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Conférenciers:</b><br>
                                        <a href="http://nmap-dev.996309.n3.nabble.com/template/NamlServlet.jtp?macro=user_nodes&user=31">Henri Doreau (Nmap)</a>,
                                        <a href="https://twitter.com/r00tbsd">Paul Rascagnères (reverser)</a>,
                                        <a href="https://twitter.com/clementoudot">Clément Oudot (Lemondldap-ng)</a>,...<br>
                                        <b><a href="http://schedule2012.rmll.info/-Securite-">Entretiens + présentations</a></b>
                                        <br><b><a href="http://video.rmll.info/channels/#2012-technique-securite">Vidéos</a></b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" style="background: orange;">
                                <h4>Autres<br>éditions
                                    <br><a href="https://2015.rmll.info/historique-des-rmll?lang=fr">ici</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
