    <section id="archives">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous editions</h2>
                    <hr  class="header-content-inner">
                    Since 2000, RMLL (<i>Rencontres Mondiales du Logiciel Libre</i> a.k.a. <i>Libre Software Meeting</i>) is an open access, free as in free beer, annual conference about Free Software, hosted in a different town each year. It hosts multiple tracks (Education, Economy, Technical ...) about Free Software in order to set up bridges between communities.<br><br>
In 2016, there is no global RMLL because no local Free Software User group volunteered. <br>But, we, the Security Track chairmen, have decided to organize nevertheless our track because ... we love to bring to you brillant speakers on Free Software and Security. <br> <br>
                    Just have a look on the previous editions and the speakers who came to speak at RMLL Security Track.<br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2015</h4>
                                    <h4 class="subheading">Beauvais, France</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Speakers:</b><br>
                                        <a href="https://twitter.com/tomchop">Thomas Chopitea (DFIR)</a>,
                                        <a href="https://twitter.com/fredraynal">Fred Raynal (Quarkslab)</a>,
                                        <a href="http://aumasson.jp/">Jean-Philippe Aumasson (aka Veorq)</a>,
                                        <a href="https://blog.rootshell.be/">Xavier Mertens (aka xme)</a>,
                                        <a href="">François Marier (Mozilla Firefox)</a>,...<br>
                                        <b><a href="https://2015.rmll.info/securite">Interviews + slides</a></b>
                                        <br><b><a href="http://video.rmll.info/channels/#securite__">Videos</a></b> </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2014</h4>
                                    <h4 class="subheading">Montpellier, France</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Speakers:</b><br>
                                        <a href="https://twitter.com/angealbertini">Ange Albertini (reverser)</a>,
                                        <a href="http://workshop.netfilter.org/2014/">Netfilter dev team and leaders</a>,
                                        <a href="https://blog.torproject.org/blogs/lunar">Lunar (Tor)</a>,
                                        <a href="">Stéphane Bortzmeyer (DNS)</a>, <a href="">Eric Leblond (Suricata)</a>,...<br>
                                        <b>Interviews:</b><br>
                                        <a href="https://2014.rmll.info/+Interview-d-Ange-Albertini-Joue+?lang=fr">Ange Albertini</a>, 
                                        <a href="https://2014.rmll.info/+Interview-de-Lunar-Defis-passes-et+?lang=en">Lunar</a>,
                                        <a href="https://2014.rmll.info/+Interview-de-Ninon-Eyrolles+">Ninon Eyrolles</a><br>
                                        <b><a href="https://2014.rmll.info/theme26?lang=en">Slides</a>
                                        <br><a href="http://video.rmll.info/channels/#securite_">Videos</a></b></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2013</h4>
                                    <h4 class="subheading">Brussels, Belgium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Speakers:</b><br>
                                        <a href="https://en.wikipedia.org/wiki/Werner_Koch">Werner Koch (GnuPG)</a>,
                                        <a href="https://twitter.com/jooooooon42">Jonathan Clarke (Rudder)</a>,
                                        <a href="https://twitter.com/pczanik">Peter Czanik (Syslog-NG)</a>,
                                        <a href="http://www.foo.be/">Alexandre Dulaunoy (CIRCL)</a>,...<br><b>
                                        <a href="https://schedule2013.rmll.info/programme/technique/securite/">Interviews + slides</a></b><br>
                                        <b><a href="http://video.rmll.info/channels/#2013-technique-securite">Videos</a></b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>RMLL 2012</h4>
                                    <h4 class="subheading">Geneva, Switzerland</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Speakers:</b><br>
                                        <a href="http://nmap-dev.996309.n3.nabble.com/template/NamlServlet.jtp?macro=user_nodes&user=31">Henri Doreau (Nmap)</a>,
                                        <a href="https://twitter.com/r00tbsd">Paul Rascagnères (reverser)</a>,
                                        <a href="https://twitter.com/clementoudot">Clément Oudot (Lemondldap-ng)</a>,...<br>
                                        <b><a href="http://schedule2012.rmll.info/-Securite-">Interviews + slides</a></b>
                                        <br><b><a href="http://video.rmll.info/channels/#2012-technique-securite">Videos</a></b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" style="background: orange;">
                                <h4>Other<br>editions
                                    <br><a href="https://2015.rmll.info/historique-des-rmll?lang=fr">here</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
