<section class="bg-primary" id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="light">
                <p class="text-faded">
                <b>Qu'est-ce qui se passe et quand ?</b><br><br>
                Début de l'appel à soumissions: 15 Janvier 2016<br>
                Fin de l'appel à soumissions :  31 Mars 2016<br><br>
                Acceptatin des conférences : 10 Avril 2016<br>
                Publication du programme : 15 Avril 2016<br><br>
                Ouverture des réservations : <s>1<sup>er</sup> Mai 2016</s> nous travaillons dur pour mettre en ligne le 15 Mai 2016, en Mai dans tous les cas.<br>
                Evévenement : 4-6 Juillet 2016<br>
                <br><br>
                Prix : entrée gratuite mais réservation obligatoire car le nombre de places est restreint (100 places).
                </p>
<!--                <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
