<section class="bg-primary" id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Timeline</h2>
                <hr class="light">
                <p class="text-faded">
                <b>What and when ?</b><br><br>
                Call For Paper start : 15<sup>th</sup> January 2016<br>
                Call For Paper end   : 31<sup>th</sup> March   2016<br><br>
                Talks acceptance     : 10<sup>th</sup>  April   2016<br>
                Program publication  : 15<sup>th</sup> April   2016<br><br>
                Registration open    : 1<sup>st</sup>  May     2016<br>
                Event                : 4-6  July    2016<br>
                <br><br>
                Price: free entrance but registration is required because seats number is limited (100 seats).
                </p>
<!--                <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
