<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Practical informations & Contact</h2>
                <hr class="primary">
                <p>
                <b>To come to Security Track location : <br><br>
                Where  : Mozilla Offices in Paris<br>
                Adress :</b> 16 Bis Boulevard Montmartre, Paris 75009, France<br>
				<b>Metro Lines :</b> lines 8 and 9, stations "Richelieu Drouot" or "Grands Boulevards" <br>(the two stations are present on lines 8 AND 9).
                <br><br>
                <img src="img/map.png">
                <br>
               <a style="color: #0000ff; text-align: left;" href="http://osm.org/go/0BPIiUlf0--?relation=7444"><span style="color: #ff0000;">Open in OpenStreetMap</span></a>                     
                </p>
            </div>
<!--        <div class="col-lg-2 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><span style="color:#f05f40">+33 ...</span></p>
        </div> -->
        <div class="col-lg-8 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
    </div>
</section>
