<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Practical information & Contact</h2>
                <hr class="primary">
                <p>
                <b>Where:</b> Mozilla Offices in Paris<br>
                <b>Address:</b> 16-bis Boulevard Montmartre, Paris 75009, France<br>
                <b>Metro:</b> take line 8 or line 9, exit at station "Richelieu Drouot" or "Grands Boulevards"
                <br><br>
                <a href="http://osm.org/go/0BPIiUlf0--?relation=7444">
                   <img src="img/map.png" width="700"><br>
                   See in OpenStreetMap
                </a>
                </p>
            </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
              This Security Track is warmly curated by: <a href="https://twitter.com/cbrocas">@cbrocas</a> | <a href="https://twitter.com/doegox">@doegox</a> | <a href="https://twitter.com/moutane">@moutane</a>.<br>
              Technical backend managed by <a href="https://openics.org/blog/">kolter</a>, association support provided by <a href="http://www.abul.org/">ABUL</a>.<br>
              Hosting kindly provided by <a href="https://twitter.com/MozillaParis">Mozilla Paris</a>.<br>
              We are thankful to the <a href="http://comite.rmll.info/Les-RMLL-en-2016.html">RMLL committee</a> for their support!<br><br>
        </div> 
        <div class="col-lg-4 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
            <a href="https://twitter.com/rmllsec16">
            <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@RMLLSec16</p>
            </a>
        </div>
    </div>
</section>
