<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Practical information & Contact</h2>
                <hr class="primary">
                <p>
                <b>Where  :</b> Mozilla Offices in Paris<br>
                <b>Adress :</b> 16-bis Boulevard Montmartre, Paris 75009, France<br>
                <b>Metro :</b> take line 8 or line 9, exit at station "Richelieu Drouot" or "Grands Boulevards"
                <br><br>
                <a href="http://osm.org/go/0BPIiUlf0--?relation=7444">
                   <img src="img/map.png"><br>
                   See in OpenStreetMap
                </a>
                </p>
            </div>
<!--        <div class="col-lg-2 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><span style="color:#f05f40">+33 ...</span></p>
        </div> -->
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
    </div>
</section>
