<header>
    <div class="header-content" id="about">
        <div class="header-content-inner">
            <h1 style="font-size: 48px">RMLL 2016:<br> The Security Track<br> 4-6 July 2016 in Paris</h1>
            <hr>
            <p>
            <span style="font-size: 24px;">
            <b><i>"Because not only Unicorns deserve Free Software and Security"</i></b><br>
            </span>
            <div  style="font-size: 24px; background-color: rgba(0,0,0,0.4); padding: 10px;" >
No global RMLL this year ? True ! However, the Security Track will be held at Paris Mozilla office next July. Come and enjoy listening top OSS projects contributors, Security hackers or hacktivists speaking about Freedom and Security !  
            </div>
            </p>
            <a href="http://twitter.com/RMLLsec16" class="btn btn-primary btn-xl page-scroll">Security Track NEWS !</a>
        </div>
    </div>
</header>
