<header>
    <div class="header-content" id="about">
        <div class="header-content-inner">
            <h1 style="font-size: 36px">RMLL 2016: Le Thème Sécurité<br> 4-6 juillet 2016 à Paris</h1>
            <br>
            <p>
            <span style="font-size: 16px;">
            <b><i>"Car les Licornes ne sont pas les seules à mériter Sécurité et Logiciels Libres"</i></b>
            </span>
            <div  style="font-size: 18px; background-color: rgba(0,0,0,0.4); padding: 10px;" >
Pas d'édition globale des RMLL cette année ? C'est vrai ! Néanmoins, le thème Sécurité se tiendra dans les locaux de Mozilla Paris en juillet 2016. Venez écouter et profiter des leaders de projets libres, des hackers Sécurité ou des hacktivistes venus parler de Sécurité et de Liberté ! Entrée gratuite (réservation à partir du 18 Mai 10h) et conférences en Anglais :-)   
            <br><br>
            <u>Nouvelles :</u>
              <ul class="list-unstyled" >
                 {% assign posts=site.posts | where:"lang", page.lang %} 
                 {% for post in posts limit: 2 %}
                 <li><a href="{{ post.url }}">{{ post.title }}</a> - {% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }} {% case m %}{% when '1' %}janvier{% when '2' %}f&eacute;vrier{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}aout{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}nvembre{% when '12' %}d&eacute;cembre{% endcase %} {{ post.date | date: "%Y" }}</li>
                 {% endfor %}
              </ul>
            </div>
            <br>
            <a href="https://twitter.com/RMLLsec16" class="btn btn-primary btn-xl page-scroll">Suivez-nous sur Twitter</a>
            </p>
        </div>
    </div>
</header>
