<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
                <p class="primary">
                <b>List of Privileged Partners :</b><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="http://www.quarkslab.com/"><img src="/img/ql2.png" alt="quarkslab"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="http://www.abul.org/"><img src="/img/abul-blanc.png" alt="abul"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://aful.org/"><img src="/img/aful.png"></a>
            </div>
            <div class="col-lg-3 text-center">
               <a href="https://www.savoirfairelinux.com/"><img src="/img/sfl2.png"></a>
            </div>
        </div>
        <div class"row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <p class="primary">
                <b>List of Partners :</b><br><br>
            </div>
           <div class="col-lg-3 text-center">
                <a href="http://oisf.net/"><img src="/img/OISF.png" width="200" height="135"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="http://suricata-ids.org/"><img src="/img/suricata.png" height="150" width="150"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="http://www.sekoia.fr/"><img src="/img/sekoia.png" width="200" height="135"></a>
            </div>

        </div>
        <div class"row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <p class="primary">
                <b>Media and hosting Partners :</b><br><br>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://boutique.ed-diamond.com/module/dmdsubscription/family?id_family=3"><img src="/img/linuxmag.jpg" alt="Linux Mag"></a>
            </div>
             <div class="col-lg-3 text-center">
                <a href="https://boutique.ed-diamond.com/module/dmdsubscription/family?id_family=7"><img src="/img/misc.jpg" alt="MISC"></a>
            </div>       
            <div class="col-lg-3 text-center">
                <a href="https://www.mozilla.org/en-US/contact/spaces/paris/"><img src="/img/mozilla.png" alt="mozilla"></a>
            </div>
        </div>
    </div>
</section>
