<section class="bg-primary" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="light">
                <p class="text-faded">
                <b>List of Privileged Partners :</b><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="http://www.quarkslab.com/"><img src="/img/quarkslab.png" alt="quarkslab"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="http://www.abul.org/"><img src="/img/abul-blanc.png" alt="abul"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://aful.org/"><img src="/img/aful.png"></a>
            </div>
        </div>
    </div>
</section>
