<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Partenaires</h2>
                <hr class="primary">
                <p class="primary">
                <b>Liste des Partenaires Privilégiés :</b><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="http://www.quarkslab.com/"><img src="/img/quarkslab.png" width="300" alt="quarkslab"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="http://www.abul.org/"><img src="/img/abul-blanc.png" alt="abul"></a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://aful.org/"><img src="/img/aful.png"></a>
            </div>
            <div class="col-lg-3 text-center">
               <a href="https://www.savoirfairelinux.com/"><img src="/img/sfl2.png"></a>
            </div>
        </div>
        <div class"row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <p class="primary">
                <b>Liste des Partenaires :</b><br><br>
            </div>
           <div class="col-lg-4 text-center">
                <a href="http://oisf.net/"><img src="/img/OISF.png" width="200" height="135"></a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://www.stamus-networks.com/"><img src="/img/STAMUS.png" width="350"></a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="http://www.sekoia.fr/"><img src="/img/sekoia.jpg" ></a>
            </div>
        </div>
        <div class"row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <p class="primary">
                <b>Partenaires Media et hébergement :</b><br><br>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://boutique.ed-diamond.com/module/dmdsubscription/family?id_family=3"><img src="/img/linuxmag.jpg" alt="Linux Mag"></a>
            </div>
             <div class="col-lg-4 text-center">
                <a href="https://boutique.ed-diamond.com/module/dmdsubscription/family?id_family=7"><img src="/img/misc.jpg" alt="MISC"></a>
            </div>       
            <div class="col-lg-4 text-center">
                <a href="https://www.mozilla.org/en-US/contact/spaces/paris/"><img src="/img/mozilla.png" alt="mozilla"></a>
            </div>
        </div>
    </div>
</section>
