<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contents</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-street-view wow bounceIn text-primary"></i>
                    <h3>Conferences</h3>
                    <p class="text-muted">Meet speakers coming to expose Free Software projects for Security purposes, Security topics in Free Software projects or open standards dealing with Security ! <br><br>
            You don't see what we are talking about ? Have a look to previous editions contents and speakers !
                    </p>
                </div>
            </div>
<!--            <div class="col-lg-6 col-md6- text-center">
                <div class="service-box">
                    <i class="fa fa-6x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Workshops</h3>
                    <p class="text-muted">
                    Put your hands in Free Software projects with the dedicated help of our speakers.<br>
                    </p>
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Networking</h3>
                    <p class="text-muted">Exchange experiences, set up new relationships with accessibles attendees and speakers coming from very various areas from hackitivists to professional security reversers or Free Software enthusiasts.<br><br>
                    Moreover these exchanges will be done in a beautiful place and in a warm and open-minded ambiance :)
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

